body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: black;
    scrollbar-width: none;
    overflow: hidden;
    background-image: url('img/extra/city_night_life_644e4b87-d416-4e86-89a0-cd6882ddef7d.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    font-family: 'Faithfully';
    padding: 0;
    margin: 0;
}

canvas {
    background-color: black;
    /* border: solid 8px; */
    /* border-color: black; */
    /* margin-bottom: 250px; */
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

@font-face {
    font-family: 'Faithfully';
    src: url('fonts/Faithfully.ttf') format('truetype');
    /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}


.headline {
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    /* width and color */
    font-family: 'Faithfully';
    color: rgb(0, 0, 0);
    font-size: 100px;
    font-weight: 300;
    display: flex;
}

.moving-info-text {
    font-size: 50px;
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    /* width and color */
    font-family: 'Faithfully';
    color: rgb(0, 0, 0);
}

.moving-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin-bottom: 100px;
}

.btn {
    -webkit-text-stroke: 0.5px rgb(255, 255, 255);
    /* width and color */
    font-family: 'Faithfully';
    color: rgb(0, 0, 0);
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: #111111;
    /* Green */
    border: 1px solid;
    color: white;
    padding: 15px 42px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 26px;
}

.move-infos {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.img {
    /* width: 100px; */
    height: 80px;
}

.cursor {
    cursor: pointer;
}

.d-none {
    display: none !important;
}

.startScreen {
    background-image: url('img/extra/a text in the m e2167f74-e106-4ae6-b178-cb57f0129bcb.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    width: 720px;
    top: 125px;
    /* position: absolute; */
    z-index: 2;
    display: flex;
    align-items: end;
    justify-content: center;
    /* border: 10px solid; */
    /* border-color: #111111; */
}

.hud-left {
    display: none;
    gap: 30px;
    z-index: 10;
}

.hud-controll {
    height: 50px;
    gap: 20px;
}

.hud-right {
    display: none;
    gap: 30px;
    z-index: 10;
}

.top-hud {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 0;
}

.hud-content {
    display: flex;
    gap: 30px;
    z-index: 10;
}


.bottom-hud {
    width: 100%;
    display: flex;
    justify-content: space-between;
    position: absolute;
    top: 60px;
    right: 90px;
    justify-content: end;
}

.hud-controll-fullscreen {
    height: 50px;
    gap: 20px;
    display: flex;
}


canvas {
    display: block;
    z-index: 1;
}

@media only screen and (max-height: 420px) {
    canvas {
        height: 100vh;
        margin-bottom: 0;
    }

    .headline {
        display: none;
    }
    .startScreen{
        height: 100vh;
    }
    .content {
        height: 100%;
        width: 100%;
        /* margin-bottom: 30px; */
    }
    .moving-infos {
        display: none;
    }
    .hud-content {
        display: flex;
    }
    .hud-controll-fullscreen {
        display: none;
    }
}

@media only screen and (max-width: 720px) {
    canvas {
        width: 100%;
        margin-bottom: 0;
    }
    .hud-right{
        display: flex;
    }
    .hud-left{
        display: flex;
    }

    .content {
        width: 100%;
    }
    .startScreen{
        width: 100vw;
    }

    .headline {
        display: none;
    }
}